- today = Date.today

- st = today.at_beginning_of_week
- ed = today.at_end_of_week

- slots = {}
- (st..ed).each { |d| slots[d] = Segment.get_slots(user, d) }

%h3 Private Tutoring Availability

- if own
  %p.instruction Select slots to toggle your availability. Slots with white background are your current available time slots. Slots with green background are already reserved by students.

%table.calendar{'data-own' => own.to_s}
  %tr
    %th
    - (st..ed).each do |d|
      %th= d.strftime("%m/%d")
  - 0.upto(47) do |i|
    - hour = i / 2
    - on_hour = (i % 2 == 0)
    - text = on_hour ? "#{(hour - 1) % 12 + 1} #{hour >= 12 ? "PM" : "AM"}" : ""
    %tr
      %th=  text
      - (st..ed).each do |d|
        %td{'class' => slots[d][i].to_s, 'data-date' => d.to_s, 'data-slot' => i, 'data-status' => slots[d][i].to_s} &nbsp;

= form_tag mark_calendar_user_path(user), id: 'mark_calendar_form' do |f|
  = hidden_field_tag :date
  = hidden_field_tag :st
  = hidden_field_tag :ed
  = hidden_field_tag :mark_as
