- own = (current_user == @user)

.container
  .left
    .container
      = image_tag @user.avatar_url, class: 'avatar'
      .info
        %h2= @user.name

        %p.skills
          - if @user.skill_list.empty?
            %span This user hasn't put in any skill yet.
          - else
            - @user.skill_list.each do |s|
              %span.skill
                = s
                - if own
                  = link_to remove_skill_user_path(@user, skill: s), method: :post, data: {confirm: "Do you really want to remove the skill \"#{s}\" from your profile? "} do
                    %i.fa.fa-trash-o

        - if own
          = link_to 'Add a Skill', add_skill_user_path(@user, skill: 'PLACEHOLDER'), class: 'add-skill', method: :post

        .scoreboard
          %p.stat
            Taught for
            %span.score= 30
            hours
          %p.stat
            Held
            %span.score= 5
            events

    .container
      %h3 Private Tutoring Availability

      %table.calendar
        %tr
          %th
          %th Mon
          %th Tue
          %th Wed
          %th Thu
          %th Fri
          %th Sat
          %th Sun
        - 0.upto(23) do |i|
          %tr
            %th= "#{(i - 1) % 12 + 1} #{i >= 12 ? "PM" : "AM"}"
            - 7.times do
              %td
          %tr
            %th
            - 7.times do
              %td &nbsp;

