- own = (current_user == @user)
- tutor = @user.rate.present?

.container
  .left
    .container
      = image_tag @user.avatar_url, class: 'avatar'
      .info
        %h2= @user.name

        %p.skills
          - if @user.skill_list.empty?
            - if own
              %span You haven't put in any skill yet.
            - else
              %span This user hasn't put in any skill yet.
          - else
            - @user.skill_list.each do |s|
              %span.skill
                = s
                - if own
                  = link_to remove_skill_user_path(@user, skill: s), method: :post, data: {confirm: "Do you really want to remove the skill \"#{s}\" from your profile? "} do
                    %i.fa.fa-trash-o

        - if own
          = link_to 'Add a Skill', add_skill_user_path(@user, skill: 'PLACEHOLDER'), class: 'action add-skill', method: :post
          = link_to "#{tutor ? 'Change' : 'Set'} Private Tutoring Rate", set_rate_user_path(@user, rate: 'PLACEHOLDER'), class: 'action set-rate', method: :post

        .scoreboard
          %p.stat
            Taught for
            %span.score= @user.total_tutor_hours
            hours
          %p.stat
            Held
            %span.score= @user.events.count
            events
          - if tutor
            %p.stat
              Private tutoring
              %span.score= "%0.1f" % @user.rate
              tokens per hour

          - if own
            %p.stat
              I have
              %span.score= "%0.1f" % @user.balance
              tokens left

    - if own
      .container
        %h3 Scheduled Private Tutoring
        - @tutorings.each do |t|
          - type, seg = t

          - verb = type.to_s.capitalize
          - prep = (type == :giving ? 'to' : 'from')
          - other = (type == :giving ? seg.owner : seg.user)

          %p.tutoring
            = verb
            tutoring
            = prep
            %span.key= other.name
            on
            %span.key= date_str(seg.date) + " (#{slot_start_to_text(seg.st)} - #{slot_end_to_text(seg.ed)})"

    .container.events
      %h3 Events Hosted
      - if own
        = link_to 'Host New Event', new_event_path, class: 'action'

      - if @user.events.empty?
        %p.instruction= "#{own ? "You haven't" : "This user hasn't"} hosted any event yet."
      - else
        - @user.events.each do |e|
          .event
            - if !@current_user.has_joined?(e)
              = link_to 'Join', join_event_path(e), method: :post, class: 'join', data: {confirm: "Join this event for #{e.rate} tokens. You sure? "}
            %p.title= e.title + (current_user.try(:has_joined?, e) ? " (You are Participating)" : " (#{e.rate} tokens)")
            %p.details
              - if e.same_day?
                = "#{date_str(e.start_time)} #{time_str(e.start_time)} - #{time_str(e.end_time)}"
              - else
                = "#{date_str(e.start_time)} #{time_str(e.start_time)} - #{date_str(e.end_time)} #{time_str(e.end_time)}"
              at
              - if e.location_is_url?
                = link_to e.location, e.location
              - else
                = e.location
            %p.tags
              - e.skill_list.each do |s|
                %span.tag= s
            %p.description= e.description


  .right
    .container
      %h3 Private Tutoring Availability
      - if tutor
        = render 'calendar', user: @user, own: own, week_offset: @week_offset
      - else
        - if own
          %p.instruction Set a private tutor rate on the left to enable private tutoring.
        - else
          %p.instruction This tutor does not provide private tutoring yet.

