- own = (current_user == @user)

.container
  .left
    .container
      = image_tag @user.avatar_url, class: 'avatar'
      .info
        %h2= @user.name

        %p.skills
          - if @user.skill_list.empty?
            %span This user hasn't put in any skill yet.
          - else
            - @user.skill_list.each do |s|
              %span.skill
                = s
                - if own
                  = link_to remove_skill_user_path(@user, skill: s), method: :post, data: {confirm: "Do you really want to remove the skill \"#{s}\" from your profile? "} do
                    %i.fa.fa-trash-o

        - if own
          = link_to 'Add a Skill', add_skill_user_path(@user, skill: 'PLACEHOLDER'), class: 'add-skill', method: :post

        .scoreboard
          %p.stat
            Taught for
            %span.score= 30
            hours
          %p.stat
            Held
            %span.score= 5
            events

    .container
      %h3 Private Tutoring Availability

      - if own
        %p.instruction Click to select time segments when you will be able to offer private tutoring. Slots with white background are your current available time slots. Slots with green background are already reserved by students.

      = render 'calendar', user: @user, own: own
