- own = (current_user == @user)
- tutor = @user.rate.present?

.container
  .left
    .container
      = image_tag @user.avatar_url, class: 'avatar'
      .info
        %h2= @user.name

        %p.skills
          - if @user.skill_list.empty?
            - if own
              %span You haven't put in any skill yet.
            - else
              %span This user hasn't put in any skill yet.
          - else
            - @user.skill_list.each do |s|
              %span.skill
                = s
                - if own
                  = link_to remove_skill_user_path(@user, skill: s), method: :post, data: {confirm: "Do you really want to remove the skill \"#{s}\" from your profile? "} do
                    %i.fa.fa-trash-o

        - if own
          = link_to 'Add a Skill', add_skill_user_path(@user, skill: 'PLACEHOLDER'), class: 'action add-skill', method: :post
          = link_to 'Set Private Tutoring Rate', set_rate_user_path(@user, rate: 'PLACEHOLDER'), class: 'action set-rate', method: :post

        .scoreboard
          %p.stat
            Taught for
            %span.score= 30
            hours
          %p.stat
            Held
            %span.score= 5
            events
          - if tutor
            %p.stat
              Private tutoring
              %span.score= "%0.1f" % @user.rate
              tokens per hour

  .right
    .container
      %h3 Private Tutoring Availability
      - if tutor
        = render 'calendar', user: @user, own: own, week_offset: @week_offset
      - else
        - if own
          %p.instruction Set a private tutor rate above to enable private tutoring.
        - else
          %p.instruction This tutor does not provide private tutoring yet.

